.container {
  width: 40%;

  height: 100vh;
  background-color: rgb(68, 66, 64);
  overflow-x: hidden;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  color: #fff;
  margin: 2px;
  text-decoration: none;
  border: 1px 0 1px 0 solid #3d74da;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: #444240;
  white-space: nowrap;

  & > :first-child {
    overflow: hidden;
    width: 360px;
    border-right: 1px solid #4b4b4b;
  }
  & > :last-child {
    min-width: 70px;
    width: 1fr;
  }

  & > .item {
    padding: 0.2em;
    min-height: 1rem;
  }

  &:hover {
    background-color: #3d74da81;
    outline: 1px solid #3d74da;
    transition: 0.6s;
    cursor: pointer;
  }
}

.col {
  display: flex;
  justify-content: center;

  & > input,
  & > .selector {
    width: 98%;
    height: 2.5rem;
    line-height: 2.2rem;
    padding: 4px;
    outline: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0.5em 1em;
}

.selectorGroup {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  height: 2.5rem;
  line-height: 2.2rem;
  padding: 1em;

  & > .selector {
    width: 50%;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.selected {
      background-color: #3d74da;
    }

    &:first-child {
      border-right: 1px solid #4b4b4b;
    }
    &:last-child {
      border-left: 1px solid #4b4b4b;
      border-right: none;
    }
  }
}

.label {
  font-size: 1.2rem;
  color: #fff;
}

.active {
  background-color: #3d74da;
}
